# Base de données
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/an577

# API
API_HOST=0.0.0.0
API_PORT=8000

# Sources open data (ingestion)
ASSEMBLEE_API_BASE_URL=https://data.assemblee-nationale.fr/api
GOUV_API_BASE_URL=https://www.data.gouv.fr/api/1
NOSDEPUTES_API_BASE_URL=https://www.nosdeputes.fr
